# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
weather_df=pd.read_csv('../output_data/cities.csv', encoding='Latin-1')
weather_df.head(10)

,City,Latitude,Longitude,Date,Cloudiness,Country,Humidity,Max Temp,Wind Speed
0,Bluff,-46.60,168.33,1586612560,100,NZ,72,285.37,0.45
1,Cape Town,-33.93,18.42,1586612379,40,ZA,77,295.37,9.30
2,Kapaa,22.08,-159.32,1586612562,1,US,77,297.15,3.10
3,Punta Arenas,-53.15,-70.92,1586612448,75,CL,75,280.15,7.20
4,Tasiilaq,65.61,-37.64,1586612564,40,GL,50,272.15,13.40
5,Grand Gaube,-20.01,57.66,1586612565,40,MU,69,300.37,6.20
6,Ushuaia,-54.80,-68.30,1586612568,40,AR,56,280.15,2.60
7,Hobart,-42.88,147.33,1586612404,75,AU,71,284.15,2.60
8,Albany,42.60,-73.97,1586612571,40,US,52,278.71,8.70
9,Puerto Ayora,-0.74,-90.35,1586612572,40,EC,83,300.15,1.50

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
gmaps.configure(api_key=g_key)
weather_df=weather_df.dropna()

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
narrowed_df = weather_df[(weather_df['Max Temp']<80) & (weather_df['Max Temp']>70)]
narrowed_df = narrowed_df[narrowed_df['Wind Speed']<10]
narrowed_df = narrowed_df[narrowed_df['Cloudiness']==0]
narrowed_df.head(10)

Empty DataFrame
Columns: [City, Latitude, Longitude, Date, Cloudiness, Country, Humidity, Max Temp, Wind Speed]
Index: []

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map